[submodule "_news"]
	path = _news
	url = https://github.com/CHTC/Articles.git
[submodule "staff-list"]
	path = staff-list
	url = https://github.com/CHTC/staff-list.git
[submodule "_events"]
	path = _events
	url = https://github.com/CHTC/Events.git
[submodule "_presentations"]
	path = _presentations
	url = https://github.com/CHTC/Presentations.git
