---
layout: default
title: Home
js_extension:
-   src: "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    loading: defer
-   src: "/assets/js/pages/index.js"
    loading: defer
    type: module
---

{% include get/jobs.liquid %}
{% if jobs.size > 0 %}
<div class="bg-primary py-2">
    <div class="container-xxl">
        <span class="text-white">CHTC is hiring, view the new position on the jobs page and apply now!</a>
        <a class="btn btn-light px-1 ms-2 py-0" href="/jobs.html#full-time-positions">View Job Posting</a>
    </div>
</div>
{% endif %}
{% include get/fellowships.liquid %}
<div class="bg-light overflow-hidden">
    <picture>
        <source srcset="{{ 'images/homepage/TranslationalArrow_Mobile.webp' | relative_url }}" media="(max-width: 768px)">
        <source srcset="{{ 'images/homepage/TranslationalArrow_Mobile.png' | relative_url }}" media="(max-width: 768px)">
        <source srcset="{{ 'images/homepage/TranslationalArrow_Desktop.webp' | relative_url }}">
        <img id="hero-image-ultrawide" src="{{ 'images/homepage/TranslationalArrow_Desktop.png' | relative_url }}"  alt="CHTC Logo" />
    </picture>
</div>
<div class="container-xxl">
    <div class="row pt-4 justify-content-center {{ include.class }}">
        <div class="d-none d-sm-block">
        {% include get/news.liquid %}      
        {% include /components/news-card.html %} 
        </div>
        <div class="col-12 col-lg-8">
                <p>
                    <strong>
                        The Center for High Throughput Computing (CHTC), established in 2006, aims to bring the power
                        of High Throughput Computing to all fields of research, and to allow the future of HTC to be shaped
                        by insight from all fields.
                    </strong>
                </p>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="bg-light rounded px-1 pb-3 mb-3">
                            <p class="p-2 pb-0 text-center">
                                Are you a UW-Madison researcher looking to expand your computing beyond your local resources? Request
                                an account now to take advantage of the open computing services offered by the CHTC!
                            </p>
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <a class="button rounded btn-primary p-2" href="/uw-research-computing/form.html">Request Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    <a href="htc.html">High Throughput Computing</a> is a collection of principles and techniques which maximize the effective throughput
                    of computing resources towards a given problem.  When applied for scientific computing, HTC can result in
                    improved use of a computing resource, improved automation, and help drive the scientific problem forward.
                </p>
                <p>
                    The team at CHTC develops technologies and services for HTC.  CHTC is the home of the <a href="http://htcondor.org">HTCondor Software
                    Suite</a> which has over 30 years of experience in tackling HTC problems;
                    it manages shared computing resources
                    for researchers on the UW-Madison campus; and it leads the <a href="https://osg-htc.org">OSG Consortium</a>,
                    a national-scale environment for distributed HTC.
                </p>

            </div>
            {% include get/future_events.liquid %}
            {% if future_events.size > 0 %}
                <div class="col-12 col-lg-4">
                    <div class="rounded bg-light px-3 py-1">
                        <h2 class="uw-mini-bar mt-4">Upcoming Events</h2>
                        {% for event in future_events limit:1 %}
                                {% include event/event-card.html %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="col-12 col-md-6 d-block d-sm-none">
        <h2 class="uw-mini-bar mb-4">News</h2>
        {% include get/news.liquid %}      
        {% include /components/news-card.html %}
    </div>
</div>
<div id="stats" class="container-lg">
    <h2 class="uw-mini-bar mb-4">
        Last Year Serving UW-Madison
    </h2>
</div>
<div class="circuit-background">
    <div class="container-lg pb-4">
        <div id="statistic-row"></div>
    </div>
</div>
<div class="container-lg table-responsive">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div id="college-table"></div>
        </div>
    </div>
</div>
<div class="container-lg">
        {% include title-desc-img-card.html
            class="flex-row-reverse mb-4 mt-4 "
            title="HTCSS"
            desc="
The [HTCondor Software Suite (HTCSS)](http://htcondor.org) provides sites and users with the ability to manage and execute
HTC workloads.  Whether it’s managing a single laptop or 250,000 cores at CERN, HTCondor
helps solve computational problems through the application of the HTC principles.
        "
            img_src="images/logos/CondorAlpha.png"
            img_alt="Hand drawn image of a Condor"
        %}
        {% include title-desc-img-card.html
            class="flex-row-reverse mb-4 mt-4 "
            title="Pelican"
            desc="A data transfer service, [Pelican](https://pelicanplatform.org) facilitates the ability for researchers to access and transfer data from where it is stored to where it needs to run. Inspired by the 2022 White House Office of Science and Technology Policy (OSTP) proposition to make all government funded research data publicly accessible, Pelican works to efficiently transfer this open data to researchers who require it. Pelican provides an open-source software platform for federating dataset repositories together and delivering the objects to computing capacity such as the [OSPool](https://osg-htc.org/ospool)."
            img_src="images/logos/Pelican.png"
            img_alt="Pelican logo"
        %}
        {% include title-desc-img-card.html
            class=" mb-4 mt-4 "
            title="Services"
            desc="
### [UW Research Computing](uw-research-computing)
CHTC manages over 20,000 cores and dozens of GPUs for the UW-Madison
campus; this resource, which is free and shared, aims to advance the
mission of the University of Wisconsin in support of the Wisconsin
Idea.  Researchers can place their workloads on an access point at
CHTC and utilize the resources at CHTC, across the campus, and across
the nation.

### Research Facilitation
CHTC’s Research Facilitation team empowers researchers to utilize computing to achieve
their goals.  The Research Facilitation approach emphasizes teaching users skills and
methodologies to manage & automate workloads on resources like those at CHTC, the campus,
or across the world.
            "
            img_src="images/microscope.svg"
            img_alt="Microscope"
        %}

</div>

<div class="bg-light pb-5">
    <hr/>
    <div class="container-lg">
        <h3 class="text-center mb-5">
            As part of its many services to UW-Madison and beyond,
            the CHTC is home to or supports the following Research
            Projects and Partners.
        </h3>
        {% include sub-title-desc-img-card.html
        class=" mb-5 mt-4 "
        title="OSG"
        href="https://osg-htc.org"
        desc="
        The OSG is a consortium of research collaborations, campuses, national laboratories and software
        providers dedicated to the advancement of all of open science via the practice of distributed High Throughput
        Computing (dHTC), and the advancement of its state of the art. The OSG operates a fabric of dHTC services
        for the national science and engineering community and CHTC has been a major force in OSG since its inception
        in 2005.
        "
        img_src="images/logos/OSG-logo.svg"
        img_alt="OSG Logo"
        %}
        {% include sub-title-desc-img-card.html
        title="PATh"
        href="https://path-cc.io/"
        class=" flex-row-reverse mb-5 mt-4"
        desc="
        The Partnership to Advance Throughput Computing (PATh) is a partnership between
        CHTC and OSG to advance throughput computing.  Funded through a major investment
        from NSF, PATh helps advance HTC at a national level through support for
        HTCSS and provides a fabric of services for the NSF science and engineering community
        to access resources across the nation.
        "
        img_src="images/logos/PATh_Logo.png"
        img_alt="PATh Logo"
        img_style="max-width: 12rem;"
        %}
        {% include sub-title-desc-img-card.html
        class=" mb-5"
        title="Morgridge Institute for Research"
        href="https://morgridge.org/"
        desc="
        The Morgridge Institute for Research is a private, biomedical research institute
        located on the UW-Madison campus.  Morgridge’s Research Computing Theme is a unique
        partner with CHTC, investing in the vision of HTC and its ability to advance basic
        research.
        "
        img_src="images/logos/Morgridge_Logo.svg"
        img_alt="Morgridge Logo"
        %}
        <div class="row gx-2 justify-content-center">

            {% assign card-class = "" %}
            {% include title-img-card.html
                class=card-class
                title="xDD"
                href="https://xdd.wisc.edu/"
                img_src="images/logos/xDD_Logo.svg"
                img_alt="xDD logo"
            %}
            {% include title-img-card.html
                class=card-class
                title="IRIS-HEP"
                href="https://iris-hep.org/"
                img_src="images/logos/IRIS-HEP_Logo.png"
                img_alt="IRIS-HEP logo"
            %}
            {% include title-img-card.html
                class=card-class
                title="BMRB"
                href="https://bmrb.io/"
                img_src="images/logos/BMRB_Logo.svg"
                img_alt="BMRB logo"
            %}
            {% include title-img-card.html
                class=card-class
                title="Pegasus"
                href="https://pegasus.isi.edu/"
                img_src="images/logos/Pegasus_Logo.png"
                img_alt="Pegasus logo"
            %}

        </div>
    </div>
</div>
