---
layout: default
title: Home
---

<div class="uw-row-full uw-light-grer-bg">
    <div class="uw-row">
        <img src="images/HTC_Domain_Interaction_V2.svg"  alt="CHTC Logo" />
    </div>
</div>
<div class="uw-row-full">
    <div class="uw-row">
        {% include title-desc-img-card.html
            class=" mb-4 mt-4 "
            title="Center for High Throughput Computing"
            desc="This is where we discuss CHTC and how it has defined HTC. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum, neque sit amet posuere congue, augue justo semper velit, sit amet auctor elit sapien at nibh. Fusce feugiat vel nibh a gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse placerat consectetur lorem, vel hendrerit leo porta pulvinar. Cras nulla leo"
            img_src="images/logos/CHTC_small_logo.svg"
            img_alt="CHTC Small Logo"
        %}
        {% include title-desc-img-card.html
            class=" flex-row-reverse mb-4 mt-4 "
            title="HTCSS"
            desc="This is where we discuss CHTC and how it has defined HTC. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum, neque sit amet posuere congue, augue justo semper velit, sit amet auctor elit sapien at nibh. Fusce feugiat vel nibh a gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse placerat consectetur lorem, vel hendrerit leo porta pulvinar. Cras nulla leo"
            img_src="images/laptop.svg"
            img_alt="Laptop"
        %}
        {% include title-desc-img-card.html
            class=" mb-4 mt-4 "
            title="Services"
            desc="This is where we discuss CHTC and how it has defined HTC. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum, neque sit amet posuere congue, augue justo semper velit, sit amet auctor elit sapien at nibh. Fusce feugiat vel nibh a gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse placerat consectetur lorem, vel hendrerit leo porta pulvinar. Cras nulla leo"
            img_src="images/microscope.svg"
            img_alt="Microscope"
        %}
    </div>
</div>
<div class="uw-row-full uw-light-grer-bg">
    <hr/>
    <div class="uw-row pb-4">
        <h3 class="text-center display-2">
            As part of its many services to UW-Madison and beyond,
            the CHTC is home to or supports the following Research
            Projects and Partners.
        </h3>
    </div>
    <div class="uw-row">
        {% include sub-title-desc-img-card.html
            class=" mb-4 "
            title="OSG"
            desc="This is where we discuss CHTC and how it has defined HTC. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum, neque sit amet posuere congue, augue justo semper velit, sit amet auctor elit sapien at nibh. Fusce feugiat vel nibh a gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse placerat consectetur lorem, vel hendrerit leo porta pulvinar. Cras nulla leo"
            img_src="images/logos/OSG-logo.svg"
            img_alt="OSG Logo"
        %}
        {% include sub-title-desc-img-card.html
            class=" mb-4 "
            title="HTCSS"
            url=""
            class=" flex-row-reverse "
            desc="This is where we discuss CHTC and how it has defined HTC. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum, neque sit amet posuere congue, augue justo semper velit, sit amet auctor elit sapien at nibh. Fusce feugiat vel nibh a gravida. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse placerat consectetur lorem, vel hendrerit leo porta pulvinar. Cras nulla leo"
            img_src="images/logos/HTCSS_Logo.png"
            img_alt="OSG Logo"
        %}
    </div>
    <div class="uw-row">
        <div class="row justify-content-center">
            {% assign card-class = "col-8 col-lg-4 col-md-5 col-sm-5" %}
            {% include title-img-card.html
                class=card-class
                title="PATh"
                href="https://path-cc.io/"
                img_src="images/logos/PATh_Logo.png"
                img_alt="PATh logo"
            %}
            {% include title-img-card.html
                class=card-class
                title="IRIS-HEP"
                href="https://iris-hep.org/"
                img_src="images/logos/IRIS-HEP_Logo.png"
                img_alt="IRIS-HEP logo"
            %}
            {% include title-img-card.html
                class=card-class
                title="xDD"
                href="https://xdd.wisc.edu/"
                img_src="images/logos/xDD_Logo.svg"
                img_alt="xDD logo"
            %}
            {% include title-img-card.html
                class=card-class
                title="Morgridge"
                href="https://morgridge.org/"
                img_src="images/logos/Morgridge_Logo.png"
                img_alt="PATh logo"
            %}
        </div>
    </div>
</div>
