---
highlighter: none
layout: default
title: Available Positions
---

<div class="container-xxl">
    <div class="row justify-content-center">

        <div class="col-12 col-sm-10 col-lg-8">
            {% include page-title.html title=page.title %}
            <p>
                If advancing the state of the art of distributed computing in an
                academic environment interests you, the Center for High Throughput
                Computing (CHTC) at the University of Wisconsin-Madison (UW) offers a
                unique working environment. Our project’s home is in the UW Department
                of Computer Sciences, an internationally recognized department
                consistently ranked in the top ten across the USA. A position with CHTC
                will provide you the opportunity to interact with both department
                faculty and students to translate novel ideas into real-world solutions.
                The software and infrastructure you will be working on is used by
                scientists and engineers at hundreds of institutions, from universities
                to national laboratories and from large high tech corporations to small
                animation teams.
            </p>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <figure class="pb-4">
                        {% include picture.html path="/images/HTCondorLayersFlat" alt="Work At CHTC"%}
                        <figcaption>Image Provided by HTCSS User <a href="https://botany.wisc.edu/staff/spalding-edgar-p/">Edgar Spalding</a></figcaption>
                    </figure>
                </div>
            </div>
            <p>
                The CHTC is home to a large distributed campus infrastructure that helps
                scientists on and off campus advance their research. We also develop the
                <a href="http://research.cs.wisc.edu/htcondor/">HTCondor Software</a> for managing
                large-scale distributed computing, which we refer to as high-throughput
                distributed computing. HTCondor powers the CHTC and is used by
                scientists and businesses around the world. We are involved in many
                collaborations, including (but not limited to)
                <a href="http://www.opensciencegrid.org/">The Open Science Grid</a>.
            </p>

            <h2 id="full-time-positions">Full Time Positions</h2>
            <p>
                Details about our open full-time positions are typically provided below.
                Positions pertaining to "HTCondor" and "CHTC" search terms can also
                be found on the <a href="http://jobs.hr.wisc.edu/cw/en-us/search/?job-mail-subscribe-privacy=agree&amp;search-keyword=chtc">University's Position Vacancy List
                (PVL)</a>.
            </p>

            <h3 id="software-engineer"><a href="https://jobs.hr.wisc.edu/en-us/job/512630/software-engineer">Software Engineer - CHTC</a></h3>
            <p>
                Join the Center for High Throughput Computing (CHTC) as a software engineer implementing the
                next generation of large-scale distributed computing actively used by many of the largest
                science projects in the world! This is the perfect opportunity for a recent graduate with
                a B.S. or M.S. degree that is familiar with C++ and working in a Linux environment.
                You will work with an experienced team of colleagues to support and enhance the HTCondor
                Software Suite which enables scientists and engineers to solve computational problems using
                systems ranging from a laptop to hundreds of thousands of CPU cores at some of the largest
                scientific facilities on earth. Your workplace will be in upcoming state-of-the-art Computer,
                Data & Information Science building to be built in the center of campus. Our software has been
                used to manage the Hubble Space Telescope, render movies at DreamWorks, and deliver the necessary
                compute cycles for two Nobel prizes. The preferred applicant will be self-motivated and able to
                work as part of a dynamic team, comfortable with reading and writing code in C++ in a Linux environment,
                as well as possessing good communication skills and a desire for continuous learning. Our
                Center is supportive of staff continuing their education; numerous team members have
                subsequently pursued graduate degrees.
            </p>
            <p><a class="btn btn-primary" href="https://jobs.hr.wisc.edu/en-us/job/512630/software-engineer">View Job Posting</a></p>

            <h3 id="devops-engineer"><a href="https://morgridge.org/job-posting/devops-engineer/">DevOps Engineer - Morgridge</a></h3>
            <p>
                The <a href="https://morgridge.org/research/research-computing/">Research Computing group</a>
                at the Morgridge Institute for Research partners with a broad range of scientists to provide
                computing services for the Morgridge Institute, the UW-Madison campus as part of the
                <a href="https://chtc.cs.wisc.edu/">Center for High Throughput Computing</a>, and the
                nation as part of several nationally-recognized distributed computing projects. &nbsp;
                The group is looking for ‘DevOps Engineer’ to help us in our mission of using computing
                to further science. The position is expected to work as part of the CHTC infrastructure
                team with an emphasis on bridging the gap to the development team in a responsive and
                agile manner. &nbsp;The successful applicant will have the opportunity to work on national-scale
                distributed computing projects such as the <a href="https://osg-htc.org/">OSG</a> and manage
                a diverse set of infrastructure services, including the HTCondor Software Suite and Kubernetes.
            </p>
            <p>
                The engineer will be responsible for ensuring the smooth operation of distributed scientific
                services, oversee the group’s hardware investments (including worker nodes, networking, and
                filesystems), and help operate the onsite Kubernetes cluster. The team is seeking an individual
                with 3-7 years of experience in running distributed workload systems and who has a desire to
                eventually build and architect systems at a national scale.
            </p>
            <p>
                Work is normally performed during typical office hours and in an office environment.
                There is no regular after-hours ‘pager duty’ but after-hours work may be necessary
                in exceptional circumstances.
            </p>
            <p><a class="btn btn-primary" href="https://morgridge.org/job-posting/devops-engineer/">View Job Posting</a></p>

            <h2 id="student-hourly-positions-undergrad-and-grad">Student Hourly Positions (Undergrad and Grad)</h2>

            <p>
                We're always looking for smart motivated students to partner with
                software developer and system administrator mentors. We expect students
                to work between 10 and 20 hours a week, with 10 of those being during
                business hours, with some flexibility on remaining hours. During the
                summer and breaks, it is possible to work up to 40 hours per week.
            </p>

            <h3 id="student-assistant-systems-administrator-morgridge"><a href="https://morgridge.org/job-posting/student-assistant-systems-administrator/">Student Assistant Systems Administrator - Morgridge</a></h3>

            <p>
                We are seeking students looking to work 10 – 12 hours per week
                (and more during breaks, if desired) to assist our systems administrators
                and to gain valuable training and education on state of the art hardware,
                complex systems and leading technologies. This position offers high value
                learning opportunities in a collaborative, flexible and supportive working
                environment. The is an excellent career building position for candidates
                interested in learning a diverse set of technologies. CHTC manages over
                500 Linux servers and network devices, providing services such as Kubernetes,
                distributed file systems, batch systems, and databases.
            </p>
            <p><a class="btn btn-primary" href="https://morgridge.org/job-posting/student-assistant-systems-administrator/">View Job Posting</a></p>

            <h3 id="fellowship" href="https://iris-hep.org/fellows.html">IRIS-HEP Fellowship</h3>
            <p>
                IRIS-HEP is accepting proposals for its Summer 2022 Fellowship Program from undergraduate
                students and graduate students that do not have a research assistantship (e.g. Masters students).
                The CHTC partners with IRIS-HEP to advance the state of distributed computing for the
                Large Hadron Collider experiments, widely known for their discovery of the Higgs boson.
                For projects associated with the CHTC, look for
                <a href="https://iris-hep.org/fellow_projects.html">projects</a> with Brian Lin or Mátyás Selmeci
                listed as a contact.

            </p>
            <p><a class="btn btn-primary" href="https://iris-hep.org/fellows.html">Learn more about the IRIS-HEP Fellowship Program</a></p>

            <h2 id="graduate-student-research-and-project-assistantship-ra-pa-openings">Graduate Student Research and Project Assistantship (RA, PA) Openings</h2>

            <p>
                Interested graduate students should contact Professor Livny directly to
                inquire about working with the project.
            </p>
            <p>
                In addition to positions within the CHTC, other departments and centers
                on the UW campus regularly hire people to work with HTCondor. Searching
                for "HTCondor" in the link above, may turn up full-time CHTC-related
                jobs in other departments
            </p>
            <hr>
            <h2 id="benefits">Benefits</h2>

            <p>
                The University of Wisconsin-Madison is a great place to work. You can
                <a href="https://hr.wisc.edu/benefits/">read about the benefits in detail
                    elsewhere</a>.
                (Note that CHTC Staff are considered as <em>Unclassified</em> academic staff,
                and have different benefits from <em>Classified</em> staff.) In short, we have
                five weeks of vacation/personal time per year, very good health
                insurance (and cost effective for entire families), and a good
                retirement plan. Please note that the minimum salary in our job listings
                are just that - the minimum. Compensation will increase with experience.
            </p>

            <p>In addition to the official benefits, there are many side benefits:</p>

            <ol>
                <li>You will work with the CHTC team. We are world leaders in solving
                    interesting distributed computing problems!</li>
                <li>You can attend interesting talks in the department</li>
                <li>Relatively flexible working hours — we value work-life balance.</li>
                <li>A Discounted Bus Pass!</li>
                <li>You get staff access to <a href="http://www.union.wisc.edu/">the Union</a>,
                    <a href="http://www.recsports.wisc.edu/">the UW athletic facilities</a>, and
                    <a href="http://www.library.wisc.edu/">the UW library system</a>.</li>
                <li>We're in a lively neighborhood with great restaurants in easy
                    walking distance.</li>
            </ol>

            <hr>

            <p>
                If you are interested in a position with CHTC, explore the job listings
                below! If you would like to apply, send your resume and cover letter to
                <a href="mailto:htcondor-jobs@cs.wisc.edu">htcondor-jobs@cs.wisc.edu</a>, and indicate
                which job you would like to apply for.
            </p>

            <p><strong>Please note:</strong></p>

            <ul>
                <li>A criminal background check will be conducted prior to hiring.</li>
                <li>A period of evaluation will be required.</li>
                <li>UW-Madison is an equal opportunity/affirmative action employer. We
                    promote excellence through diversity and encourage all qualified
                    individuals to apply.</li>
            </ul>
        </div>
        <div class="d-none d-lg-block col-12 col-lg-4">
            <div class="sticky-top mt-5">
                <div class="pt-5">
                    <div class="uw-sidebar-box me-auto">
                        <div class="uw-directory">
                            <h3>Open Positions</h3>
                            <ul>
                                <li><a href="#software-engineer">Software Engineer - CHTC</a></li>
                                <li><a href="#devops-engineer">DevOps Engineer - Morgridge</a></li>
                                <li><a href="#student-assistant-systems-administrator-morgridge">Student Systems Administrator - Morgridge</a></li>
                                <li><a href="#fellowship">Student Fellowship - IRIS-HEP</a></li>
                                <li><a href="#graduate-student-research-and-project-assistantship-ra-pa-openings">Graduate Research Openings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
