---
highlighter: none
layout: default
title: Available Positions
---

<figure>
    <img class="w-100" style="object-fit: cover; max-height: 400px;" src="/images/Emile_Working.jpg"
         alt="IT Professional, Emile, working in the Discovery Server Rooms"/>
    <figcaption class="p-1 bg-light">Photo: Morgridge Institute for Research</figcaption>
</figure>

<div class="container-xxl">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-lg-8">
            {% include page-title.html title=page.title %}
            <p>
                If advancing the state of the art of distributed computing in an
                academic environment interests you, the Center for High Throughput
                Computing (CHTC) at the University of Wisconsin-Madison (UW) offers a
                unique working environment. Our project’s home is in the UW Department
                of Computer Sciences, an internationally recognized department
                consistently ranked in the top ten across the USA. A position with CHTC
                will provide you the opportunity to interact with both department
                faculty and students to translate novel ideas into real-world solutions.
                The software and infrastructure you will be working on is used by
                scientists and engineers at hundreds of institutions, from universities
                to national laboratories and from large high tech corporations to small
                animation teams.
            </p>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <figure class="pb-4">
                        {% include picture.html path="/images/HTCondorLayersFlat" alt="Work At CHTC"%}
                        <figcaption>Image Provided by HTCSS User <a
                                href="https://botany.wisc.edu/staff/spalding-edgar-p/">Edgar Spalding</a></figcaption>
                    </figure>
                </div>
            </div>
            <p>
                The CHTC is home to a large distributed campus infrastructure that helps
                scientists on and off campus advance their research. We also develop the
                <a href="http://research.cs.wisc.edu/htcondor/">HTCondor Software</a> for managing
                large-scale distributed computing, which we refer to as high-throughput
                distributed computing. HTCondor powers the CHTC and is used by
                scientists and businesses around the world. We are involved in many
                collaborations, including (but not limited to)
                <a href="http://www.osg-htc.org/">The OSG</a>.
            </p>

            <h2 id="full-time-positions">Full Time Positions</h2>
            <p>
                Details about our open full-time positions are typically provided below.
                Positions pertaining to "HTCondor" and "CHTC" search terms can also
                be found on the <a
                    href="http://jobs.hr.wisc.edu/cw/en-us/search/?job-mail-subscribe-privacy=agree&amp;search-keyword=chtc">University's
                Position Vacancy List
                (PVL)</a>.
            </p>

            <div class="rounded bg-light p-2 pt-1 mb-2">
                <h3 id="research-software-engineer" class="mt-2"
                    href="https://morgridge.org/job-posting/research-software-engineer/">Morgridge - Research Software
                    Engineer</h3>
                <p>
                    The Research Software Engineer (RSE) will work to bring modern software engineering techniques and
                    approaches to research projects at the institute as part of long-running engagements and
                    collaborations between scientists. At Morgridge, the RSE will sit at the nexus of exciting research,
                    large-scale computing, and national cyberinfrastructure projects.
                </p>
                <p>
                    Whether it’s bringing a codebase
                    up to production quality, designing programmatic interfaces, or making workloads run more
                    effectively across thousands of cores, the RSE will have a diversity of challenges and help advance
                    Morgridge’s goals of Fearless Science. Potential projects will be diverse, including computational
                    Cryo-EM, storage management for distributed computing, natural language processing, and single-cell
                    RNAseq; projects can be tailored based on the candidate.
                </p>
                <a class="btn btn-primary" href="https://morgridge.org/job-posting/research-software-engineer/">View
                    Full Job Listing</a>
            </div>

            {% assign now = 'now' | date: '%s' | plus: 0 %}
            {% if now < 1677304799 %}
            <div class="rounded bg-light p-2 pt-1 mb-2">
                <h3 id="chtc-research-cyberinfrastructure-specialist-1" class="mt-2"
                    href="https://jobs.hr.wisc.edu/en-us/job/516945/chtc-research-cyberinfrastructure-specialist-1">
                    CHTC - Research Cyberinfrastructure Specialist 1</h3>
                <p>
                    Join the Center for High Throughput Computing (CHTC) as a Research Cyberinfrastructure Specialist
                    (RCS) to build software and services that help push the frontiers of knowledge across a wide swath
                    of research domains.
                </p>
                <p>
                    As an RCS, your work will include tasks such as developing data processing frameworks for the xDD
                    project; building, testing, and releasing production-ready software for an integrated software
                    stack;
                    troubleshooting issues in a distributed computing environment; and integrating services into our
                    computational infrastructure to improve the system's performance and ease of use.
                </p>
                <a class="btn btn-primary"
                   href="https://jobs.hr.wisc.edu/en-us/job/516945/chtc-research-cyberinfrastructure-specialist-1">View
                    Full Job Listing</a>
            </div>
            {% endif %}

            <h2 id="student-hourly-positions-undergrad-and-grad">Student Hourly Positions (Undergrad and Grad)</h2>
            <p>
                We're always looking for smart motivated students to partner with
                software developer and system administrator mentors. We expect students
                to work between 10 and 20 hours a week, with 10 of those being during
                business hours, with some flexibility on remaining hours. During the
                summer and breaks, it is possible to work up to 40 hours per week.
            </p>

            <div class="rounded bg-light p-2 pt-1 mb-2">
                <h3 id="student-programming-internships" class="mt-2" href="mailto:htcondor-jobs@cs.wisc.edu">HTCSS -
                     Student Programming Internship</h3>
                <p>
                    The HTCondor Software Suite team develops a large, mature, distributed software stack in C++ and
                    Python, used in some of the largest global scientific collaborations to power research in High
                    Energy Physics, Genetics/Genomics, Astronomy and other fields. We seek motivated student interns
                    interested in Software Engineering in Python, C++, on Linux and Windows. Skills students will hone
                    are in high demand by the FAANG and other high profile companies.
                </p>
                <p>
                    If interested, send your resume and cover letter to <a href="mailto:htcondor-jobs@cs.wisc.edu">Send
                    Resume and Cover Letter</a> and note the STUDENT PROGRAMMING INTERNSHIP position.
                </p>
                <a class="btn btn-primary" href="mailto:htcondor-jobs@cs.wisc.edu">Send Resume and Cover Letter</a>
            </div>

            <div class="rounded bg-light p-2 pt-1 mb-2">
                <h3 id="sys-admin-internship" class="mt-2" href="/jobs.html">CHTC - System Administrator Intern</h3>
                <p>
                    CHTC manages more than 1,000 servers and VMs across 5 datacenters. Want to learn how this comes
                    together? The system administrator intern has the opportunity to start hands-on with physically
                    managing and diagnosing servers and the ability to expand your reach in networking, system
                    configuration, and debugging distributed applications.
                </p>
                <p>
                    Posting as SYSTEM ADMINISTRATOR INTERN at Morgridge for the summer.
                </p>
                <a class="btn btn-primary" href="https://morgridge.org/job-posting/systems-administrator-intern">View
                    Full Job Listing</a>
            </div>

            <div class="rounded bg-light p-2 pt-1 mb-2">
                <h3 id="student-office-internship" class="mt-2" href="/jobs.html">Morgridge - Student Office Assistant</h3>
                <p>
                    Interested in communicating science through social media? Want to see how a big research project
                    comes together “under the hood”? This position’s tasks include social media, event planning,
                    reporting metrics, writing, and general office support. Ideal candidates will be working towards an
                    associate or bachelor’s degree and have a minimum of a year remaining prior to graduating.
                </p>
                <a class="btn btn-primary" href="https://morgridge.org/job-posting/student-office-assistant/">View Full
                    Job Listing</a>
            </div>

            <div class="rounded bg-light p-2 pt-1 mb-2">
                <h3 id="kubernetes-internship" class="mt-2" href="/jobs.html">OSG - IRIS-HEP Student Fellow</h3>
                <p>
                    The OSG Consortium offers an integrated software stack for distributed High Throughput Computing.
                    Frontier Squid is part of this software stack and acts as an HTTP proxy, caching requests to improve
                    network usage. We are looking for a student developer to learn container and service management,
                    help convert the application to run inside Kubernetes (a service orchestration framework) and
                    configure horizontal scaling for the application.
                </p>
                <p>
                    Expected position as IRIS-HEP STUDENT FELLOW at UW-Madison. Details will soon be posted here.
                </p>
            </div>

            <h2 id="graduate-student-research-and-project-assistantship-ra-pa-openings">Graduate Student Research and
                Project Assistantship (RA, PA) Openings</h2>

            <p>
                Interested graduate students should contact Professor Livny directly to
                inquire about working with the project.
            </p>
            <p>
                In addition to positions within the CHTC, other departments and centers
                on the UW campus regularly hire people to work with HTCondor. Searching
                for "HTCondor" in the link above, may turn up full-time CHTC-related
                jobs in other departments
            </p>
            <hr>
            <h2 id="benefits">Benefits</h2>

            <p>
                The University of Wisconsin-Madison is a great place to work. You can
                <a href="https://hr.wisc.edu/benefits/">read about the benefits in detail
                    elsewhere</a>. In short, we have
                five weeks of vacation/personal time per year, very good health
                insurance (and cost effective for entire families), and a good
                retirement plan. Please note that the minimum salary in our job listings
                are just that - the minimum. Compensation will increase with experience.
            </p>

            <p>In addition to the official benefits, there are many side benefits:</p>

            <ol>
                <li>You will work with the CHTC team. We are world leaders in solving
                    interesting distributed computing problems!
                </li>
                <li>You can attend interesting talks in the department</li>
                <li>Relatively flexible working hours — we value work-life balance.</li>
                <li>A Discounted Bus Pass!</li>
                <li>You get staff access to <a href="http://www.union.wisc.edu/">the Union</a>,
                    <a href="http://www.recsports.wisc.edu/">the UW athletic facilities</a>, and
                    <a href="http://www.library.wisc.edu/">the UW library system</a>.
                </li>
                <li>We're in a lively neighborhood with great restaurants in easy
                    walking distance.
                </li>
            </ol>

            <hr>

            <p>
                If you are interested in a position with CHTC, explore the job listings
                below! If you would like to apply, send your resume and cover letter to
                <a href="mailto:htcondor-jobs@cs.wisc.edu">htcondor-jobs@cs.wisc.edu</a>, and indicate
                which job you would like to apply for.
            </p>

            <p><strong>Please note:</strong></p>

            <ul>
                <li>A criminal background check will be conducted prior to hiring.</li>
                <li>A period of evaluation will be required.</li>
                <li>UW-Madison is an equal opportunity/affirmative action employer. We
                    promote excellence through diversity and encourage all qualified
                    individuals to apply.
                </li>
            </ul>
        </div>
        <div class="d-none d-lg-block col-12 col-lg-4">
            <div class="sticky-top mt-5">
                <div class="pt-5">
                    <div class="uw-sidebar-box me-auto">
                        <div class="uw-directory">
                            <h3>Open Positions</h3>
                            <ul>
                                <li><a href="#research-software-engineer">Research Software Engineer</a></li>
                                {% if now < 1677304799 %}
                                <li><a href="#chtc-research-cyberinfrastructure-specialist-1">Research
                                    Cyberinfrastructure Specialist</a></li>
                                {% endif %}
                                <li><a href="#student-programming-internships">Student Programming Internship</a></li>
                                <li><a href="#sys-admin-internship">System Administrator Internship</a></li>
                                <li><a href="#student-office-internship">Student Office Assistant</a></li>
                                <li><a href="#kubernetes-internship">IRIS-HEP Student Fellow</a></li>
                                <li><a href="#graduate-student-research-and-project-assistantship-ra-pa-openings">Graduate
                                    Research Openings</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
