---
highlighter: none
layout: default
title: Available Positions
---

<div class="container-xxl">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-8">
            {% include page-title.html title=page.title %}
        </div>
    </div>
</div>
<div class="container-xxl">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-9 col-md-8">
            <p>
                If advancing the state of the art of distributed computing in an
                academic environment interests you, the Center for High Throughput
                Computing (CHTC) at the University of Wisconsin-Madison (UW) offers a
                unique working environment. Our project’s home is in the UW Department
                of Computer Sciences, an internationally recognized department
                consistently ranked in the top ten across the USA. A position with CHTC
                will provide you the opportunity to interact with both department
                faculty and students to translate novel ideas into real-world solutions.
                The software and infrastructure you will be working on is used by
                scientists and engineers at hundreds of institutions, from universities
                to national laboratories and from large high tech corporations to small
                animation teams.
            </p>
        </div>
        <div class="col-8 col-sm-6 col-lg-5">
            <figure class="pb-4">
                {% include picture.html path="/images/HTCondorLayersFlat" alt="Work At CHTC"%}
                <figcaption>Image Provided by HTCSS User <a href="https://botany.wisc.edu/staff/spalding-edgar-p/">Edgar Spalding</a></figcaption>
            </figure>
        </div>
        <div class="col-12 col-sm-9 col-md-8">
            <p>
                The CHTC is home to a large distributed campus infrastructure that helps
                scientists on and off campus advance their research. We also develop the
                <a href="http://research.cs.wisc.edu/htcondor/">HTCondor Software</a> for managing
                large-scale distributed computing, which we refer to as high-throughput
                distributed computing. HTCondor powers the CHTC and is used by
                scientists and businesses around the world. We are involved in many
                collaborations, including (but not limited to)
                <a href="http://www.opensciencegrid.org/">The Open Science Grid</a>.
            </p>

            <h2 id="full-time-positions">Full Time Positions</h2>
            <p>
                Details about our open full-time positions are typically provided below.
                Positions pertaining to "HTCondor" and "CHTC" search terms can also
                be found on the <a href="http://jobs.hr.wisc.edu/cw/en-us/search/?job-mail-subscribe-privacy=agree&amp;search-keyword=chtc">University's Position Vacancy List
                    (PVL)</a>.
            </p>
            <h3 id="assistant-systems-administrator---morgridge"><a href="https://morgridge.org/job-posting/assistant-systems-administrator/">Assistant Systems Administrator - Morgridge</a></h3>
            <p>
                The administrator will be responsible for ensuring the smooth operation of
                distributed scientific services, the management of hardware (such as worker
                nodes, networking, and filesystems), and help operate the onsite Kubernetes
                cluster. The is an excellent position for entry-level candidates with a passion
                for science and who would like to begin their career as a Linux systems
                administrator and learn a diverse set of technologies. Work is normally
                performed during typical office hours and in an office environment. There
                is no regular after-hours ‘pager duty’ but after-hours work may be necessary
                in exceptional circumstances.
            </p>
            <p><a href="https://morgridge.org/job-posting/assistant-systems-administrator/">View Job Posting</a></p>

            <h2 id="student-hourly-positions-undergrad-and-grad">Student Hourly Positions (Undergrad and Grad)</h2>

            <p>
                We're always looking for smart motivated students to partner with
                software developer and system administrator mentors. We expect students
                to work between 10 and 20 hours a week, with 10 of those being during
                business hours, with some flexibility on remaining hours. During the
                summer and breaks, it is possible to work up to 40 hours per week. We
                typically pay between $10 and $15 per hour, depending on experience.
            </p>

            <h3 id="student-assistant-systems-administrator---morgridge"><a href="https://morgridge.org/job-posting/student-assistant-systems-administrator/">Student Assistant Systems Administrator - Morgridge</a></h3>

            <p>
                We are seeking students looking to work 10 – 12 hours per week
                (and more during breaks, if desired) to assist our systems administrators
                and to gain valuable training and education on state of the art hardware,
                complex systems and leading technologies. This position offers high value
                learning opportunities in a collaborative, flexible and supportive working
                environment. The is an excellent career building position for candidates
                interested in learning a diverse set of technologies. CHTC manages over
                500 Linux servers and network devices, providing services such as Kubernetes,
                distributed file systems, batch systems, and databases.
            </p>
            <p><a href="https://morgridge.org/job-posting/student-assistant-systems-administrator/">View Job Posting</a></p>

            <h3 href="https://iris-hep.org/fellows.html">IRIS-HEP Fellowship</h3>
            <p>
                IRIS-HEP is accepting proposals for its Summer 2022 Fellowship Program from undergraduate
                students and graduate students that do not have a research assistantship (e.g. Masters students).
                The CHTC partners with IRIS-HEP to advance the state of distributed computing for the
                Large Hadron Collider experiments, widely known for their discovery of the Higgs boson.
                For projects associated with the CHTC, look for
                <a href="https://iris-hep.org/fellow_projects.html">projects</a> with Brian Lin or Mátyás Selmeci
                listed as a contact.

            </p>
            <p><a href="https://iris-hep.org/fellows.html">Learn more about the IRIS-HEP Fellowship Program</a></p>

            <h2 id="graduate-student-research-and-project-assistantship-ra-pa-openings">Graduate Student Research and Project Assistantship (RA, PA) Openings</h2>

            <p>
                Interested graduate students should contact Professor Livny directly to
                inquire about working with the project.
            </p>
            <p>
                In addition to positions within the CHTC, other departments and centers
                on the UW campus regularly hire people to work with HTCondor. Searching
                for "HTCondor" in the link above, may turn up full-time CHTC-related
                jobs in other departments
            </p>
            <hr>
            <h2 id="benefits">Benefits</h2>

            <p>
                The University of Wisconsin-Madison is a great place to work. You can
                <a href="https://hr.wisc.edu/benefits/">read about the benefits in detail
                    elsewhere</a>.
                (Note that CHTC Staff are considered as <em>Unclassified</em> academic staff,
                and have different benefits from <em>Classified</em> staff.) In short, we have
                five weeks of vacation/personal time per year, very good health
                insurance (and cost effective for entire families), and a good
                retirement plan. Please note that the minimum salary in our job listings
                are just that - the minimum. Compensation will increase with experience.
            </p>

            <p>In addition to the official benefits, there are many side benefits:</p>

            <ol>
                <li>You will work with the CHTC team. We are world leaders in solving
                    interesting distributed computing problems!</li>
                <li>You can attend interesting talks in the department</li>
                <li>Relatively flexible working hours — we value work-life balance.</li>
                <li>A free bus pass!</li>
                <li>You get staff access to <a href="http://www.union.wisc.edu/">the Union</a>,
                    <a href="http://www.recsports.wisc.edu/">the UW athletic facilities</a>, and
                    <a href="http://www.library.wisc.edu/">the UW library system</a>.</li>
                <li>We're in a lively neighborhood with great restaurants in easy
                    walking distance.</li>
            </ol>

            <hr>

            <p>
                If you are interested in a position with CHTC, explore the job listings
                below! If you would like to apply, send your resume and cover letter to
                <a href="mailto:htcondor-jobs@cs.wisc.edu">htcondor-jobs@cs.wisc.edu</a>, and indicate
                which job you would like to apply for.
            </p>

            <p><strong>Please note:</strong></p>

            <ul>
                <li>A criminal background check will be conducted prior to hiring.</li>
                <li>A period of evaluation will be required.</li>
                <li>UW-Madison is an equal opportunity/affirmative action employer. We
                    promote excellence through diversity and encourage all qualified
                    individuals to apply.</li>
            </ul>
        </div>
    </div>
</div>
