---
highlighter: none
layout: default
title: News
---

<div class="container-xxl mb-4">
    {% include page-title.html title=page.title %}
    <div class="row">
        {% include get/news.liquid %}
        {% for article in news %}
            {% include news-posting.html
                class=" col-6 my-2 "
                href=article.url
                title=article.title
                author=article.author
                src=article.card_src
                alt=article.card_alt
                date=article.date
                excerpt=article.excerpt
            %}
        {% endfor %}
    </div>
</div>
