---
highlighter: none
layout: default
title: Our Staff
---

<div class="container-xxl px-0">
    <figure>
        <img class="w-100" style="object-fit: cover; max-height: 600px;" src="/images/team/team_photos/team-2023.jpg" alt="2022 CHTC Team Photo"/>
        <figcaption class="p-1 pb-0">2023 CHTC Team Picture. <a href="/past_team_pictures.html">View old team photos⬏</a></figcaption>
    </figure>
</div>

{% include get/team.liquid %}
<div class="bg-light pt-1 mt-1 pb-4">
    <div class="container-xxl">
        <h2 class="uw-mini-bar">Leadership</h2>
        <div class="row gx-1">
            {% assign sorted_team = team | where: "status", "Leadership" | sort: "name" %}
            {% for member in sorted_team %}
                <div class="col-12 col-lg-6">
                    {% include /components/team-card-promoted.html %}
                </div>
            {% endfor %}
        </div>
        <h2 class="uw-mini-bar">Staff</h2>
        <div class="row gx-1">
            {% assign sorted_team = team | where: "status", "Staff" | sort: "name" %}
            {% for member in sorted_team %}
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    {% include /components/team-card.html %}
                </div>
            {% endfor %}
        </div>
        <h2 class="uw-mini-bar">Students</h2>
        <div class="row gx-1">
            {% assign sorted_team = team | where: "status", "Student" | sort: "name" %}
            {% for member in sorted_team %}
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    {% include /components/team-card.html %}
                </div>
            {% endfor %}
        </div>
        <h2 class="uw-mini-bar">Previous Staff</h2>
        <div class="row gx-1">
            {% assign sorted_team = team | where: "status", "Past" | sort: "name" %}
            {% for member in sorted_team %}
                <div class="col-xl-2 col-md-3 col-sm-4 col-6">
                    {% include /components/team-card.html %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
