---
highlighter: none
layout: default
title: Our Staff
---

<div class="container-xxl">
    <figure>
        <img class="w-100" style="object-fit: cover; max-height: 600px;"  src="/images/2022TeamPhoto.jpg" alt="2022 CHTC Team Photo"/>
        <figcaption class="p-1 pb-0">2022 CHTC Team Picture</figcaption>
    </figure>
</div>

{% include get/team.liquid %}
<div class="bg-light pt-1 mt-1 pb-4">
    <div class="container-xxl">
        <h2 class="uw-mini-bar">Leadership</h2>
        <div class="row">
            {% assign sorted_team = team | where: "status", "Leadership" | sort: "name" %}
            {% for member in sorted_team %}
                <div class="col-12 col-md-8 col-lg-6">
                    {% include /components/team-card-promoted.html %}
                </div>
            {% endfor %}
        </div>
        <h2 class="uw-mini-bar">Staff</h2>
        <div class="row">
            {% assign sorted_team = team | where: "status", "Staff" | sort: "name" %}
            {% for member in sorted_team %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    {% include /components/team-card.html %}
                </div>
            {% endfor %}
        </div>
        <h2 class="uw-mini-bar">Students</h2>
        <div class="row">
            {% assign sorted_team = team | where: "status", "Student" | sort: "name" %}
            {% for member in sorted_team %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    {% include /components/team-card.html %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
