/* The following six styles set attibutes for heading tags H1-H6 */

div.announcement {
	border: 1px solid #787878;
	background-color: #efefef;
	color: #787878;
	padding: .5em;
	margin: 1em 2em 1em 2em;
	}

table.gtable {
   background: #B70101;
   padding: 5px 10px;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;

   color: #FFFFFF;
   overflow: hidden;
   margin-bottom: 20px;

   background: #ddd;
   color: #333;
   border: 0;
   border-bottom: 3px solid #bbb;

   -moz-box-shadow:    0px 2px 7px 1px #bbb;
   -webkit-box-shadow: 0px 2px 7px 1px #bbb;
   box-shadow:         0px 2px 7px 1px #bbb;
}

table.gtable img{
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
}

table.gtable td {
	padding: 0.6em 0.8em 0.6em 0.8em;
	background-color: #ddd;
	border-bottom: 1px solid #bbb;
	border-top: 0px;
	overflow: visible;
}

table.gtable th {
	padding: 0.6em 0.8em 0.6em 0.8em;
	background-color: #b70101;
	color: #FFFFFF;
	border: 0px;
	border-bottom: 3px solid #920000;
}

H1  {
	margin-bottom: -5px;
	text-align: left;
	color: #000000;
	font-size: 150%;
	font-weight: bold;
	font-family: verdana, geneva, arial, sans-serif;
	line-height: 195%
	}


H2 {
	margin-top: 20px;
    margin-bottom: 0px;
    text-align: left;
    color: #000000;
    font-size: 120%;
    font-weight: bold;
    font-family: verdana, geneva, arial, sans-serif;
    line-height: 150%
    }



H3  {
    margin-top: 20px;
    margin-bottom: -10px;
    text-align: left;
    color: #000000;
    font-size: 95%;
    line-height: 130%;
    font-weight: bold;
    font-family: verdana, geneva, arial, sans-serif;
    width: 100%
    }


H4  {
    margin-top: 15px;
    margin-bottom: -10px;
    text-align: left;
    color: #000000;
    font-size: 95%;
    font-weight: bold;
    font-family: verdana, geneva, arial, sans-serif;
    width: 100%
    }



H5  {
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: left;
    color: #000000;
    font-size: 95%;
    font-weight: bold;
    font-family: verdana, geneva, arial, sans-serif;
    width: 100%
    }


H6  {
    margin-top: 10px;
    margin-bottom: -10px;
    text-align: left;
    color: #000000;
    font-size: 95%;
    font-weight: bold;
    font-family: verdana, geneva, arial, sans-serif;
    width: 100%
    }

body {  
	background-color: #eee;
	font-family: Verdana, Arial, Helvetica,sans-serif;
}

#main {
	background: #fff;
	margin: 10px 5px;
	padding: 20px;
	min-height: 1300px;
	border-bottom: 3px solid #bbb;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-radius: 5px;
   -moz-border-radius-right: 5px;
   -webkit-border-radius-right: 5px;

   -moz-box-shadow:    0px 2px 7px 1px #bbb;
   -webkit-box-shadow: 0px 2px 7px 1px #bbb;
   box-shadow:         0px 2px 7px 1px #bbb;

}

.bgred {  
	background-color: #B70101;
   -moz-border-top-right-radius: 10px;
   -webkit-border-top-right-radius: 10px;
   	border-bottom-right-radius: 10px;
   -moz-border-bottom-right-radius: 10px;
   -webkit-border-bottom-right-radius: 10px;
   margin: 10px 0px;

      -moz-box-shadow:    0px 2px 7px 1px #bbb;
   -webkit-box-shadow: 0px 2px 7px 1px #bbb;
   box-shadow:         0px 2px 7px 1px #bbb;
}
			
#copyright {  
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 75%;

background: #ddd;
color: #333;
border: 1px solid #bbb;
border-bottom: 3px solid #bbb;
border-top: 0px;

padding: 5px 10px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;

   -moz-box-shadow:    0px 2px 7px 1px #bbb;
   -webkit-box-shadow: 0px 2px 7px 1px #bbb;
   box-shadow:         0px 2px 7px 1px #bbb;


margin-top: 40px;
}

#copyright a {
	color: #66a;
}


.navbodyblack { 
	font-family: Verdana,Arial, Helvetica, sans-serif; 
	color: #ffffff; 				background-color: #B70101; 
	text-decoration: none; 		padding-left: 8px; 
	padding-top: 5px; 		padding-bottom: 5px; 
	padding-right: 2px; 
	font-weight: normal;
	margin: 0px; 
}

.navbodyblack a:link    {
	color:#ffffff; 
	text-decoration: none;
}

.navbodyblack a:visited {
	color:#ffffff; 
	text-decoration: none;
}

.navbodyblack a:hover   {
	color:#cc9900; 
	text-decoration: none;
}

code {
	font-size: 120%;
}

pre {
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
	font-size: 120%;
	margin: 1em 2em;

    background: #ddd;
    color: #333;
    border: 1px solid #bbb;
    border-bottom: 3px solid #bbb;
    border-top: 0px;
	border-left: 5px solid #b70101;
	padding: 0.5em 1.2em;

   -moz-box-shadow:    0px 2px 7px 1px #bbb;
   -webkit-box-shadow: 0px 2px 7px 1px #bbb;
   box-shadow:         0px 2px 7px 1px #bbb;
}

blockquote {
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
	font-size: 90%;
	margin: 1em 2em;

    background: #fff;
    color: #333;
    border: 1px solid #bbb;
    border-bottom: 3px solid #bbb;
    border-top: 0px;
	border-left: 5px solid #000;
	padding: 0.5em 1.2em;

	   -moz-box-shadow:    0px 2px 7px 1px #bbb;
   -webkit-box-shadow: 0px 2px 7px 1px #bbb;
   box-shadow:         0px 2px 7px 1px #bbb;
}

ul.sidebar {
	width = 20%;
	font-size: 80%;
	margin: 0.8em;
}
ul.sidebar,ul.sidebar ul {
	padding: 0;
	border: 0;
	color: white;
}
ul.sidebar ul {
	margin: 0 0.8em;
}
ul.sidebar a:link, ul.sidebar a:visited, ul.sidebar a:active {
	color: white;
	text-decoration: none;
	display: block;
}
ul.sidebar a:hover, ul.sidebar a:active {
	/*text-decoration: underline;
	color:#cc9900; */
	color: #b70101;
	background-color: white;
	transition: all linear 0.2s 0s;
	position: relative;
	left:5px;

	border-left:5px solid #d41a1a;
}
ul.sidebar li {
	font-size: 16px;
	margin: 0;
	margin-top: .5em;
	padding: 2px 4px;
	border: 0;
	list-style-type: none;
}
ul.sidebar li  a{
	position: relative;
    top: 0px;
	
    transition: all linear 0.2s 0s;
	
	padding: 5px 10px;
	border-left:5px solid #d41a1a;
	background: #d41a1a;

	-moz-box-shadow:    0px 2px 4px 1px #9E0000;
    -webkit-box-shadow: 0px 2px 4px 1px #9E0000;
    box-shadow:         0px 2px 4px 1px #9E0000;

	color: white;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul.sidebar ul li a{
  font-size: 14px;

}

ul.sidebar li.spacer {
}

#tile-wrapper {
	margin-left:auto;
	margin-right:auto;
	padding:5px;
}

a.tile {
	display: inline-block;
	position:relative;
	width:800px;
	text-decoration: none;

	overflow:hidden;
	
	margin-left:auto;
	margin-right:auto;
	
	font-size:75%;
	margin: 10px;
    background: #cdcdcd;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 5px solid #aaa;
    border-top: 5px solid #ddd;
    color: #555;

   -moz-box-shadow:    0px 1px 8px 1px #bbb;
   -webkit-box-shadow: 0px 1px 8px 1px #bbb;
   box-shadow:         0px 1px 8px 1px #bbb;
}

a.tile:hover {
	top:-5px;


   -moz-box-shadow:    0px 6px 8px 1px #bbb;
   -webkit-box-shadow: 0px 6px 8px 1px #bbb;
   box-shadow:         0px 6px 8px 1px #bbb;

}


a.tile  p{
	display:inline-block;
	width:84%;
	height:65px;
	float:right;

	text-align: left;

	background: #fff;
	color: #000;
	padding: 10px;

	font-size: 10px;

	border-color: #fff;
	background-color: #fff;
	padding: 10px;
	margin:5px;
	border-radius: 5px;
}

a.tile  img{
	width:75px;
	float:left;

	display:inline-block;
	
	border-color: #fff;
	background-color: #fff;
	padding: 5px;
	margin:5px;
	border-radius: 5px;
}

a.tile h2{
	text-decoration: none;
	color:#555;
	margin:0px 5px;
	font-size: 140%;
}

#hours {
	width: 120px;
	height: 92px;
	font-size:75%;
	margin-left:10px;
	float: right;
    background: #B70101;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 5px solid #920000;
    border-top: 5px solid #d41a1a;
    color: #fff;

   -moz-box-shadow:    0px 1px 4px 1px #bbb;
   -webkit-box-shadow: 0px 1px 4px 1px #bbb;
   box-shadow:         0px 1px 4px 1px #bbb;
}

#osg_power {
	height: 92px;
	margin-left:10px;
	float: right;
    background: #F29B12;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 5px solid #EF7821;
    border-top: 5px solid #FDC10A;
    color: #fff;

    -moz-box-shadow:    0px 1px 4px 1px #bbb;
    -webkit-box-shadow: 0px 1px 4px 1px #bbb;
    box-shadow:         0px 1px 4px 1px #bbb;
}

#osg_power img {
    border-radius: 5px;
}

p.underconstruction {
	border: 1px solid #666;
	background-color: #FFA;
	padding: 0.1em 0.5em;
	margin-left: 2em;
	margin-right: 2em;
	font-style: italic;

	-moz-box-shadow:    0px 2px 7px 1px #bbb;
    -webkit-box-shadow: 0px 2px 7px 1px #bbb;
    box-shadow:         0px 2px 7px 1px #bbb;
}
.num {
	text-align: right;
}
table {
	border-collapse: collapse;
}
td,tr {
	padding-left: 0.2em;
	padding-right: 0.2em;
}


/* these two classes control the layout of tables in submit_variations.shtml*/
table.directory table {
width: 100%;
}

table.directory td {
width: 50%;
vertical-align: top;
}

table.triple table {
width: 100%;
}

table.triple-sub td {
width: 32%;
vertical-align: top;
}

/* make a list wider spaced */

li.spaced {
  margin: 10px 0;
}

pre.term {
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
	font-size: 122%;
	margin: 1em 2em;

    background: #484848;
    color: #F0F0F0;
    border: 0px solid #303030;
    border-bottom: 0px solid #323232;
    border-top: 0px;
	border-left: 0px solid #323232;
	padding: 0.5em 0.5em;

	   -moz-box-shadow:    0px 2px 7px 1px #bbb;
   -webkit-box-shadow: 0px 2px 7px 1px #bbb;
   box-shadow:         0px 2px 7px 1px #bbb;
}

term {
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
	font-size: 122%;
	margin: 1em 2em;

    background: #484848;
    color: #F0F0F0;
    border: 0px solid #303030;
    border-bottom: 0px solid #323232;
    border-top: 0px;
	border-left: 0px solid #323232;
	padding: 0.5em 0.5em;

	   -moz-box-shadow:    0px 2px 7px 1px #bbb;
   -webkit-box-shadow: 0px 2px 7px 1px #bbb;
   box-shadow:         0px 2px 7px 1px #bbb;
}

pre.sub {
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
	font-size: 120%;
	margin: 1em 2em;

    background: #F0F0F0;
    color: #333;
    border: 1px solid #bbb;
    border-bottom: 3px solid #bbb;
    border-top: 0px;
	border-left: 5px solid #b70101;
	padding: 0.5em 1.2em;

	   -moz-box-shadow:    0px 2px 7px 1px #bbb;
   -webkit-box-shadow: 0px 2px 7px 1px #bbb;
   box-shadow:         0px 2px 7px 1px #bbb;
   }

pre.file {
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
	font-size: 120%;
	margin: 1em 2em;

    background:  #D8D8D8;
    color: #333;
    border: 1px solid #bbb;
    border-bottom: 3px solid #bbb;
    border-top: 0px;
	border-left: 5px solid #0D4F8B;
	padding: 0.5em 1.2em;

	   -moz-box-shadow:    0px 2px 7px 1px #bbb;
   -webkit-box-shadow: 0px 2px 7px 1px #bbb;
   box-shadow:         0px 2px 7px 1px #bbb;
   }

pre.other {
	border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
	font-size: 120%;
	margin: 1em 2em;

    background:  #fff;
    color: #000;
    border: 0px solid #bbb;
    border-bottom: 0px solid #bbb;
    border-top: 0px;
	border-left: 0px solid #0D4F8B;
	padding: 0.5em 1.2em;

	   -moz-box-shadow:    0px 0px 0px 0px #bbb;
   -webkit-box-shadow: 0px 0px 0px 0px #bbb;
   box-shadow:         0px 0px 0px 0px #bbb;
   }

/* guide tiles? */

blockquote.tile2 {
	display: inline-block;
	position:relative;
	width:800px;
	text-decoration: none;

	overflow:hidden;
	
	margin-left:auto;
	margin-right:auto;
	
	margin: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 5px solid #aaa;
    border-top: 5px solid #ddd;
    color: #555;

   -moz-box-shadow:    0px 1px 8px 1px #bbb;
   -webkit-box-shadow: 0px 1px 8px 1px #bbb;
   box-shadow:         0px 1px 8px 1px #bbb;
}


blockquote.tile2 p{
	display:inline-block;
	width:84%;
	/*height:65px;*/
	float:right;

	text-align: left;

	background: #fff;
	color: #000;
	padding: 10px;

	border-color: #fff;
	background-color: #fff;
	margin:5px;
	border-radius: 5px;
}

blockquote.tile2 ul{
	display:inline-block;
	width:84%;
	/*height:65px;*/
	float:right;

	text-align: left;

	background: #fff;
	color: #000;
	padding: 10px;

	border-color: #fff;
	background-color: #fff;
	margin:5px;
	border-radius: 5px;
}

blockquote.tile2 img{
	width:75px;
	float:left;

	display:inline-block;
	
	border-color: #000;
	background-color: #fff;
	padding: 5px;
	margin:5px;
	border-radius: 5px;
}

blockquote.tile2 h2{
	text-decoration: none;
	color:#000;
	margin:0px 5px;
	font-size: 120%;
}

