<div id="content-header" class="uw-full-row">
    <div class="uw-row">
        <div id="osg_power">
            <span style="height: 30px">Powered by:</span>
            <br/>
            <a href="http://opensciencegrid.org">
                <img alt="Open Science Grid" src="{{ '/images/Open_Science_Grid_Consortium(Logo).jpg' | relative_url }}" width="123" height="70"/>
            </a>
        </div>
        <div id="hours">
            <span style="height: 30px">
                <a href="https://twitter.com/CHTC_UW" style="color:white;">
                    <center>
                        <img alt="Twitter" src="{{ '/images/twitter.png' | relative_url }}" width="50" height="50">
                    </center>
                </a>
                <center>
                    <a href="https://github.com/CHTC/chtc-website-source" style="color:white;">
                        <img alt="GitHub" src="{{ '/images/GitHub_Logo_White.png' | relative_url }}" width="92" height="38">
                    </a>
                </center>
            </span>
        </div>
        <div id="hours">
            <span style="height: 35px">
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <a href="{{ '/get-help' | relative_url }}" style="color:white;">
                    <center>
                        <b>Office Hours!</b>
                        <p style="margin-bottom: 1px;"></p>
                        Tues/Thurs, 3-5pm
                        Click for details
                    </center>
                </a>
            </span>
            <p style="margin-bottom: 1px;"></p>
            <center>
                <a href="http://chtc.cs.wisc.edu/sign-in.shtml" style="color:white;">Sign-In
                    Here</a>
            </center>
        </div>
        <div style="margin-top:1em;">
            <a href="http://chtc.cs.wisc.edu/">
                <img alt="Center for High Throughput Computing" src="{{ '/images/CHTC-logo.png' | relative_url }}" width="500" height="90">
            </a>
        </div>
    </div>
</div>