<footer id="colophon" class="uw-footer">
    <div class="uw-footer-content">
        <div class="uw-logo">
            <a href="http://www.wisc.edu" aria-label="Link to main university website">
                <svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-crest-footer"></use></svg>
            </a>
        </div>
        <div class="uw-footer-contact">
            <h3 class="uw-footer-header">Contact Us</h3>
            <ul class="uw-contact-list">
                <li class="uw-contact-item">Office Hours: <a href="{{ '/get-help' | relative_url }}">Tues/Thurs, 3-4:45pm</a></li>
                <li class="uw-contact-item">Email: <a href="mailto:chtc@cs.wisc.edu">chtc@cs.wisc.edu</a></li>
                <li class="uw-contact-item">Github: <a href="https://github.com/CHTC/chtc-website-source">chtc-website-source</a></li>
                <li>
                    <ul class="uw-social-icons">
                        <li id="uw-icon-twitter" class="uw-social-icon">
                            <a aria-label="twitter" href="https://twitter.com/CHTC_UW"><svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-twitter"></use></svg></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="uw-copyright">
        <p class="uw-contact-item">For all user support, questions, and comments:  <a href="mailto:chtc@cs.wisc.edu">chtc@cs.wisc.edu</a></p>
        <p>© 2017 Board of Regents of the <a href="http://www.wisconsin.edu">University of Wisconsin System</a></p>
    </div>
</footer>
