{% include logic/is_in_uw_dir.html %}

<div class="container-fluid">
    <div class="row justify-content-between bg-primary"  role="navigation">
        <div class="col-auto">
            <a class="uw-global-name-link" href="http://www.wisc.edu" aria-label="University home page">U<span>niversity <span class="uw-of">of</span> </span>W<span>isconsin</span>–Madison</a>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto pe-0">
                    {% if is_in_uw_dir %}
                    <a class="uw-global-name-link" href="{{ '/' | relative_url }}" aria-label="University home page">Go to CHTC Home</a>
                    {% else %}
                    <a class="uw-global-name-link" href="{{ '/uw-research-computing' | relative_url }}" aria-label="UW Research Computing Homepage">Go to UW Research Computing Home</a>
                    {% endif %}
                </div>
                <div class="col-auto d-flex">
                    <a class="btn-light px-2  my-auto rounded" href="/uw-research-computing/form.html">Request Account</a>
                </div>
            </div>
        </div>
    </div>
</div>

