{% include logic/is_in_uw_dir.html %}

{% assign href = "/" %}
{% assign sub_title = "Center for High Throughput Computing" %}

{% if is_in_uw_dir %}
    {% assign sub-tag = "-sub" %}
{% endif %}


<header id="branding{{ sub-tag }}" class="uw-header">
    <div class="uw-header-container mt-2 mb-2">
        <div class="uw-header-crest-title">
            <div class="uw-header-crest">
                <a href="{{ href | relative_url }}"><img class="uw-crest-svg" src="{{'/images/logos/CHTC_Small_Logo.svg' | relative_url}}" alt="Link to CHTC Home Page"></a>
            </div>
            <div class="uw-title-tagline">
                <h1 id="site-title" class="uw-site-title">
                    <a href="{{ href | relative_url }}" rel="home">CHTC</a>
                </h1>
                <a href="{{ href | relative_url }}" rel="home">
                    <div id="site-description" class="uw-site-tagline">{{ sub_title }}</div>
                </a>
            </div>
        </div>
    </div>
</header>