<link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.css' | relative_url }}" />
<div class="uw-row-full">
    <div class="uw-row">
        <div class="uw-col uw-body">
            <h1>Additional HPC Guides</h1>
            <br>
            <div class="card-deck">
                <div class="card border-secondary h-100 text-center">
                    <a href="{{ '/uw-research-computing/connecting' | relative_url }}"><li class="list-group-item list-group-item-action list-group-item-dark h-100" style="width: auto; height: auto !important;">Connecting to CHTC</li></a>
                </div>
                <div class="card border-secondary h-100 text-center">
                    <a href="{{ '/uw-research-computing/hpc-overview' | relative_url }}"><li class="list-group-item list-group-item-action list-group-item-dark h-100" style="width: auto; height: auto !important;">HPC Overview</li></a>
                </div>
                <div class="card border-secondary h-100 text-center">
                    <a href="{{ '/uw-research-computing/hpc-job-submission' | relative_url }}"><li class="list-group-item list-group-item-action list-group-item-dark h-100" style="width: auto; height: auto !important;">HPC Job Submission</li></a>
                </div>
                <div class="card border-secondary h-100 text-center">
                    <a href="{{ '/uw-research-computing/hpc-software' | relative_url }}"><li class="list-group-item list-group-item-action list-group-item-dark h-100" style="width: auto; height: auto !important;">HPC Software</li></a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>