<div class="bg-light py-2">
    <div class="container-xxl">
        <div class="row justify-content-center">
            <div class="col mw-1000">
                <div class="dropdown">
                    <h2 class="my-auto py-2 p-md-0">
                    <a
                            class="d-block d-md-none text-decoration-none dropdown-toggle"
                            data-toggle="collapse"
                            href="#hpc-navigation"
                            data-target="#hpc-navigation"
                            role="button"
                            aria-expanded="false"
                            aria-controls="hpc-navigation">
                        HPC Guides
                    </a>
                    </h2>
                    <div class="multi-collapse collapse d-md-block" id="hpc-navigation">
                        <div class="row justify-content-between">
                            <div class="col-auto d-none d-md-flex">
                                <h2 class="my-auto">All HPC Guides</h2>
                            </div>
                            <div class="col-md-auto">
                                <ul class="ms-0 nav nav-pills flex-column flex-md-row">
                                    <li class="nav-item mx-1 my-2">
                                        <a
                                                class="d-block btn btn-primary"
                                                href="{{ '/uw-research-computing/connecting.html' | relative_url}}"
                                        >
                                            Connecting to CHTC
                                        </a>
                                    </li>
                                    <li class="nav-item mx-1 my-2">
                                        <a
                                                class="d-block btn btn-primary"
                                                href="{{ '/uw-research-computing/hpc-overview.html' | relative_url}}"
                                        >
                                            HPC Overview
                                        </a>
                                    </li>
                                    <li class="nav-item mx-1 my-2">
                                        <a
                                                class="d-block btn btn-primary"
                                                href="{{ '/uw-research-computing/hpc-job-submission.html' | relative_url}}"
                                        >
                                            HPC Job Submission
                                        </a>
                                    </li>
                                    <li class="nav-item mx-1 my-2">
                                        <a
                                                class="d-block btn btn-primary"
                                                href="{{ '/uw-research-computing/hpc-software.html' | relative_url}}"
                                        >
                                            HPC Software
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
