<button class="uw-mobile-menu-button-bar uw-mobile-menu-button-bar-reversed uw-is-closed" data-menu="uw-top-menus" aria-label="Open menu" aria-expanded="true" aria-controls="uw-top-menus">Menu<svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-menu"></use></svg><svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-close"></use></svg></button>


<div id="uw-top-menus" class="uw-display-none uw-is-visible uw-horizontal" aria-hidden="false">
    <div class="uw-main-nav">
        <nav class="uw-nav-menu uw-nav-menu-reverse" aria-label="Main Menu">
            <ul id="uw-main-nav">
                <li id="home">
                    <a href="{{ '/' | relative_url }}" aria-current="page">Home</a>
                </li>
                <li id="menu-our-approach" class="uw-dropdown">
                    <a href="{{ '/about' | relative_url }}" role="button" aria-haspopup="true" aria-expanded="false">
                        About
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-down"></use>
                        </svg>
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-up"></use>
                        </svg>
                    </a>
                    <ul aria-hidden="true" aria-label="Our Approach submenu" class="uw-child-menu">
                        <li>
                            <a href="{{ '/approach' | relative_url }}">Our Approach</a>
                        </li>
                        <li>
                            <a href="{{ '/projects' | relative_url }}">Our Customers</a>
                        </li>
                        <li>
                            <a href="{{ '/people' | relative_url }}">Our Staff</a>
                        </li>
                        <li>
                            <a href="{{ '/jobs' | relative_url }}">Our Open Positions</a>
                        </li>
                    </ul>
                </li>
                <li id="get-started">
                    <a href="{{ '/get-started' | relative_url }}" aria-current="page">Get Started</a>
                </li>
                <li id="menu-how-tos" class="uw-dropdown">
                    <a href="{{ '/how-tos' | relative_url }}" role="button" aria-haspopup="true" aria-expanded="false">
                        How To's
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-down"></use>
                        </svg>
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-up"></use>
                        </svg>
                    </a>
                    <ul aria-hidden="true" aria-label="How To's submenu" class="uw-child-menu">
                        <li>
                            <a href="{{ '/get-help' | relative_url }}">Get Help</a>
                        </li>
                        <li>
                            <a href="{{ '/guides' | relative_url }}">All User Guides</a>
                        </li>
                        <li>
                            <a href="{{ '/use-submit-node' | relative_url }}">Use an HTC Submit Server</a>
                        </li>
                        <li>
                            <a href="{{ '/helloworld' | relative_url }}">Run Your First HTC Jobs</a>
                        </li>
                        <li>
                            <a href="{{ '/howto_overview' | relative_url }}">HTC for MatLab, Python or R</a>
                        </li>
                        <li>
                            <a href="{{ '/hpc-overview' | relative_url }}">Use the HPC Cluster</a>
                        </li>
                        <li>
                            <a href="{{ '/cite-chtc' | relative_url }}">Cite CHTC Resources</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ '/user-news' | relative_url }}">User News</a>
                </li>
                <li id="menu-other-resources" class="uw-dropdown">
                    <a href="{{ '/other-resources' | relative_url }}" role="button" aria-haspopup="true" aria-expanded="false">
                        Other Resources
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-down"></use>
                        </svg>
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-up"></use>
                        </svg>
                    </a>
                    <ul aria-hidden="true" aria-label="Other Resources submenu" class="uw-child-menu">
                        <li>
                            <a href="{{ '/gpu-lab' | relative_url }}">CHTC GPU Lab</a>
                        </li>
                        <li>
                            <a href="http://research.cs.wisc.edu/htcondor/">HTCondor Project</a>
                        </li>
                        <li>
                            <a href="http://www.neos-server.org/">NEOS Optimization Service</a>
                        </li>
                        <li>
                            <a href="http://www.opensciencegrid.org/">Open Science Grid</a>
                        </li>
                        <li>
                            <a href="http://wid.wisc.edu/">WID (Wisconsin Institute for Discovery)</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>