<button class="uw-mobile-menu-button-bar uw-mobile-menu-button-bar-reversed uw-is-closed" data-menu="uw-top-menus" aria-label="Open menu" aria-expanded="true" aria-controls="uw-top-menus">Menu<svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-menu"></use></svg><svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-close"></use></svg></button>


<div id="uw-top-menus" class="uw-display-none uw-is-visible uw-horizontal" aria-hidden="false">
    <div class="uw-main-nav">
        <nav class="uw-nav-menu uw-nav-menu-reverse" aria-label="Main Menu">
            <ul id="uw-main-nav">
                <li id="home">
                    <a href="/" aria-current="page">Home</a>
                </li>
                <li id="menu-our-approach" class="uw-dropdown">
                    <a href="fallback_url_for_no_js" role="button" aria-haspopup="true" aria-expanded="false">
                        About
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-down"></use>
                        </svg>
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-up"></use>
                        </svg>
                    </a>
                    <ul aria-hidden="true" aria-label="Our Approach submenu" class="uw-child-menu">
                        <li>
                            <a href="/approach">Our Approach</a>
                        </li>
                        <li>
                            <a href="/projects">Our Customers</a>
                        </li>
                        <li>
                            <a href="/people">Our Staff</a>
                        </li>
                        <li>
                            <a href="/jobs">Our Open Positions</a>
                        </li>
                    </ul>
                </li>
                <li id="menu-how-tos" class="uw-dropdown">
                    <a href="fallback_url_for_no_js" role="button" aria-haspopup="true" aria-expanded="false">
                        How To's
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-down"></use>
                        </svg>
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-up"></use>
                        </svg>
                    </a>
                    <ul aria-hidden="true" aria-label="How To's submenu" class="uw-child-menu">
                        <li>
                            <a href="/get-started">Get Started</a>
                        </li>
                        <li>
                            <a href="/get-help">Get Help</a>
                        </li>
                        <li>
                            <a href="/guides">All User Guides</a>
                        </li>
                        <li>
                            <a href="/use-submit-node">Use an HTC Submit Server</a>
                        </li>
                        <li>
                            <a href="/helloworld">Run Your First HTC Jobs</a>
                        </li>
                        <li>
                            <a href="/howto_overview">HTC for MatLab, Python or R</a>
                        </li>
                        <li>
                            <a href="/hpc-overview">Use the HPC Cluster</a>
                        </li>
                        <li>
                            <a href="/cite-chtc">Cite CHTC Resources</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/user-news">User News</a>
                </li>
                <li id="menu-other-resources" class="uw-dropdown">
                    <a href="fallback_url_for_no_js" role="button" aria-haspopup="true" aria-expanded="false">
                        Other Resources
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-down"></use>
                        </svg>
                        <svg aria-hidden="true" class="uw-caret" focusable="false">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-up"></use>
                        </svg>
                    </a>
                    <ul aria-hidden="true" aria-label="Other Resources submenu" class="uw-child-menu">
                        <li>
                            <a href="/gpu-lab">CHTC GPU Lab</a>
                        </li>
                        <li>
                            <a href="http://research.cs.wisc.edu/htcondor/">HTCondor Project</a>
                        </li>
                        <li>
                            <a href="http://www.neos-server.org/">NEOS Optimization Service</a>
                        </li>
                        <li>
                            <a href="http://www.opensciencegrid.org/">Open Science Grid</a>
                        </li>
                        <li>
                            <a href="http://wid.wisc.edu/">WID (Wisconsin Institute for Discovery)</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="uw-secondary-nav">
        <nav class="uw-nav-menu uw-nav-menu-secondary" aria-label="Secondary Menu">
            <ul>
                <li id="menu-news" class="uw-dropdown">
                    <a href="http://news.wisc.edu" aria-haspopup="true" aria-expanded="false">
                        News<svg aria-hidden="true" class="uw-caret" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-down"></use></svg><svg aria-hidden="true" class="uw-caret" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-up"></use></svg>
                    </a>
                    <ul aria-hidden="true" aria-label="News submenu" class="uw-child-menu">
                        <li>
                            <a href="http://localhost:8001/about/">About</a>
                        </li>
                        <li>
                            <a href="http://localhost:8001/contact-us/our-location/">Our Location</a>
                        </li>
                        <li>
                            <a href="http://localhost:8001/news/">News</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="http://today.wisc.edu">Calendar</a>
                </li>
                <li>
                    <a href="http://map.wisc.edu">Map</a>
                </li>
            </ul>
        </nav>
    </div>
</div>