
<div class="uw-card">
    <div class="uw-card-content">
        {% if include.src %}
            <a href="{{ include.href | relative_url }}" class="{{ include.class }}">
                <img class="img-fluid rounded-top" style="height:150px; object-fit: cover" src="{{ include.src | relative_url }}" alt="{{ include.alt }}" />
            </a>
        {% endif %}
        <div class="uw-card-copy">
            <a href="{{ include.href | relative_url }}" class="{{ include.class }}">
                <h4 class="uw-mini-bar">{{ include.title }}</h4>
            </a>
            <div class="text-dark d-flex flex-row justify-content-between">
                {% if include.author %}
                    <div class="w-auto">
                            By: {{ include.author }}
                    </div>
                {% endif %}
                <div class="w-auto">
                    {{ include.date | date: "%b %d, %Y" }}
                </div>
            </div>
            {% if include.excerpt %}
                <p class="text-dark mb-0 pt-2">
                    {{ include.excerpt }}
                </p>
            {% endif %}
        </div>
    </div>
</div>
