<div class="row justify-content-center {{ include.class }}">
    <div class="col-12 col-md-6">
        {% if include.title %}
            <h2 class="uw-mini-bar mb-4">
                {{ include.title }}
            </h2>
        {% endif %}
        <div>{{ include.desc | markdownify }}</div>
    </div>
    <div class="col-1 d-md-block d-none"></div>
    <div class="col-3 d-md-flex d-none">
        <img class="w-100 mt-auto mb-auto" src="{{ include.img_src | relative_url  }}" alt="{{ include.img_alt }}" />
    </div>
</div>