<div class="col-4 mt-2">
    <div class="px-2 h-100 bg-white rounded bg-light">
        <a href="{{ include.href }}" class="{{ include.class }}">
            <div style="min-height: 160px;" class="row h-100 justify-content-center pt-3 pb-3">
                <div class="col-12 col-md-7 d-flex">
                    <img style="{{ include.img_style }}" class="m-auto" src="{{ include.img_src | relative_url  }}" alt="{{ include.img_alt }}" />
                </div>
                <div class="col-12 d-flex">
                    <h2 class="m-auto">{{ include.title }}</h2>
                </div>
            </div>
        </a>
    </div>
</div>

