---
layout: default
title: Open projects for CHTC Fellows
---

<figure>
    <img class="w-100 d-block d-lg-none" style="object-fit: cover; max-height: 400px;" src="{{ '/images/chtc-internship-banner.jpg' | relative_url }}"
         alt="Collage photos of current and previous CHTC interns."/>
    <img class="w-100 d-none d-lg-block" style="object-fit: cover; max-height: 400px;" src="{{ '/images/chtc-internship-banner-lg.jpg' | relative_url }}"
         alt="Collage photos of current and previous CHTC interns."/>
    <figcaption class="p-1 bg-light">Photo: Morgridge Institute for Research</figcaption>
</figure>

<div class="container-xxl">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-lg-8">
            {% include page-title.html title="page.title" %}
            <p>
                This page lists software development, infrastructure services, and research facilitation
                projects for CHTC Fellow applicants to consider.
            </p>

            <div class="primary-callout mt-3">
                <h2 class="mt-1">Applications are open!</h2>

                <p>To apply, send an email to <a href="mailto:chtc-jobs@g-groups.wisc.edu">chtc-jobs@g-groups.wisc.edu</a> with the following information:</p>

                <ul class="mb-2">
                    <li>A resume/CV (in PDF format) with contact information. Be sure to include your full name, email address, the name of your university or college and your current or planned major and/or area of study.</li>
                    <li>A cover letter that describes your interest in the Fellowship Program. For example, you may wish to expand on 3 or 4 topics from the following list: your background, your skills, and strengths; what software, computing or scientific topics appeal to you; previous research experience, if any; what you may want to pursue as a future career; and what benefits you would like to gain from this program. If you already have a potential project which interests you from the project list, you can also mention them here. It is however not required to have a mentor/project finalized to submit an application. Successful applicants will be connected to mentors to select and define their projects in a 2nd step following this application.</li>
                </ul>
            </div>
            <p>
                Updated January 15th, 2025
            </p>


            {% include /get/fellowships.liquid %}
            {% assign software = fellowships | where: "type", "Software Development" %}
            {% assign infrastructure = fellowships | where: "type", "Infrastructure Services" %}
            {% assign research = fellowships | where: "type", "Research Facilitation" %}

            <h2 id="software-development">Software Development</h2>
            {% if software.size == 0 %}
                <p>No software development projects are currently available.</p>
            {% endif %}
            {% for fellowship in software %}
                {% include /components/fellowship-card.html %}
            {% endfor %}

            <h2 id="infrastructure-services">Infrastructure Services</h2>
            {% if infrastructure.size == 0 %}
                <p>No software development projects are currently available.</p>
            {% endif %}
            {% for fellowship in infrastructure %}
                {% include /components/fellowship-card.html %}
            {% endfor %}

            <h2 id="research-facilitation">Research Facilitation</h2>
            {% if research.size == 0 %}
                <p>No software development projects are currently available.</p>
            {% endif %}
            {% for fellowship in research %}
                {% include /components/fellowship-card.html %}
            {% endfor %}

        </div>
        <div class="d-none d-lg-block col-12 col-lg-4">
            <div class="sticky-top mt-5">
                <div class="pt-5">
                    <div class="uw-sidebar-box me-auto">
                        <div class="uw-directory">
                            <h3 class="mt-0">Fellowships</h3>
                            <ul>
                                {% for fellowship in fellowships %}
                                    <li><a href="#{{ fellowship.title |  slugify }}">{{ fellowship.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center">Questions: <a href="mailto:chtc-jobs@g-groups.wisc.edu ">chtc-jobs@g-groups.wisc.edu </a></p>
    </div>
</div>
