// This is the old styles that are important yet
code.term {
    border: 0px solid #303030;
    border-bottom: 0px solid #323232;
    border-top: 0px;
    border-left: 0px solid #323232;
    padding: 0.5em 0.5em;
}

pre {
    border-left: 5px solid #b70101;
    padding: 0.5em 1.2em;
}

pre.term {
    border-left: 0px solid #323232;
    background: #484848;
    color: #F0F0F0;
}

pre.sub {
    border-left: 5px solid #b70101;
    padding: 0.5em 1.2em;
}

pre.file {
    border-left: 5px solid #0D4F8B;
    padding: 0.5em 1.2em;
}

pre.other {
    border-left: 0px solid #0D4F8B;
    padding: 0.5em 1.2em;
}