<div class="rounded p-4 mb-3 shadow">
    <div>
        <h3 id="{{ fellowship.title | slugify }}" class="my-2 mb-1 uw-mini-bar">{{ fellowship.title }}</h3>
        <div class="row justify-content-between d-flex">
            <div class="col-auto">
                <span class="fw-light">{{ fellowship.scale }}</span>
            </div>
            {% if fellowship.close_date %}
                <div class="col-auto">
                    <span class="my-auto">Applications Close: {{ fellowship.close_date | date: "%Y-%m-%d %I:%M %p" }}</span>
                </div>
            {% endif %}
        </div>
        {% if fellowship.header %}
            <p class="fs-5 pt-3">{{ fellowship.header }}</p>
        {% endif %}
    </div>
    {{ fellowship.summary | markdownify }}
    {% if fellowship.button %}
        <div class="col-12">
            <a class="btn btn-primary" href="{{ fellowship.button.href }}">{{ fellowship.button.text }}</a>
        </div>
    {% endif %}
</div>
