<div class="rounded p-4 mb-3 shadow">
    <div>
        {% if job.button.href %}
            <h3 id="{{ job.title | slugify }}" class="my-2 mb-1 uw-mini-bar"><a href="{{ job.button.href }}">{{ job.title }}</a></h3>
        {%} else %}
            <h3 id="{{ job.title | slugify }}" class="my-2 mb-1 uw-mini-bar">{{ job.title }}</h3>
        {% endif %}
        <div class="row justify-content-between d-flex">
            <div class="col-auto">
                <span class="fw-light">{{ job.type}} - {{ job.institution}}</span>
            </div>
            {% if job.close_date %}
                <div class="col-auto">
                    <span class="my-auto">Applications Close: {{ job.close_date | date: "%Y-%m-%d %I:%M %p" }}</span>
                </div>
            {% endif %}
        </div>
        <p class="fs-5 pt-3">{{ job.header }}</p>
    </div>
    {{ job.text | markdownify }}
    {% if job.button %}
        <div class="col-12">
            <a class="btn btn-primary" href="{{ job.button.href }}">{{ job.button.text }}</a>
        </div>
    {% endif %}
</div>
