<div class="bg-white team-card justify-content-center my-3 flex-grow-1">
    <div class="uw-card-content">
        <div class="d-flex justify-content-center mx-3">
            {% if member.website %}
            <a href="{{ member.website }}">
                <img src="{{ member.image | relative_url }}" alt="Headshot for {{member.name}}">
            </a>
            {% else %}
            <img src="{{ member.image | relative_url }}" alt="Headshot for {{member.name}}">
            {% endif %}
        </div>
        <div class="uw-card-copy">
            <div>
                <h2 class="uw-mini-bar">
                    {% if member.website %}
                    <a href="{{ member.website }}">{{ member.name }}</a>
                    {% else %}
                    {{ member.name }}
                    {% endif %}
                </h2>
                <p>{{member.title}}</p>
            </div>
            <div>
                <span class="institution">{{member.institution}}</span>
            </div>
        </div>
    </div>
</div>