{% assign event = include.event %}

<div class="mb-4">
    <div>
        {% if event.image %}
            <a href="{{ event.url }}">
                <img alt="" class="rounded w-100" src="{{ event.image | relative_url }}" style="max-height: 200px; object-fit: cover;">
            </a>
        {% endif %}
    </div>
    <div class="px-3">
        <h3 class="uw-mini-bar mb-1 mt-4">
            <a href="{{ event.url }}">{{ event.short_title }}</a>
        </h3>
        {% if event.start_date %}
            <h4 class="mt-0 text-muted">
                {% if event.start_date != event.end_date %}
                    {% assign date = event.start_date | date: "%B %e" %}
                    {% assign date = event.end_date | date: "-%e, %Y" | prepend: date %}
                {% else %}
                    {% assign date = event.start_date | date: "%B %e, %Y" %}
                {% endif %}
                {{ date }}
            </h4>
        {% endif %}
        <h4 class="fw-normal mt-3">
            {{ event.location }}
        </h4>
    </div>
</div>
