---
title: File Available
layout: markdown-page
---

<h2>Which Option is the Best for Your Files?</h2>
<br>
<table class="gtable">
    <tr>
        <th>Input Sizes</th>
        <th>Output Sizes</th>
        <th>File Location</th>
        <th>How to Transfer</th>
        <th>Guide</th>
        <th>Availability, Security</th>
        <!--<th>Special Considerations</th>-->
    </tr>

    <tr>
        <td>0 - 100 MB per file; &#60;500 MB total per job</td>
        <td>0 - 4 GB total per job</td>
        <td><code>/home</code></td>
        <td><b>submit file</b>; filename in <code>transfer_input_files</code></td>
        <td><a href="file-availability.html">Small Input and Output File Availability</a></td>
        <td>CHTC, UW Grid, and OSG, available to <i>your</i> jobs</td>
        <!--<td><font color="red">DO NOT USE HTCondor transfer for files in <code>/staging</code> OR <code>/squid</code></font></td>-->
    </tr>

    <tr>
        <td>100 MB - 1 GB per shared file</td>
        <td>Not available for output</td>
        <td><code>/squid</code></td>
        <td><b>submit file</b>; http link in <code>transfer_input_files</code></td>
        <td><a href="file-avail-squid.html">Large Input File Availability Via Squid</a></td>
        <td>CHTC, UW Grid, and OSG, files will be world-<i>readable</i></td>
        <!--<td>large files unique to individual jobs are better for large data staging</td>-->
    </tr>

    <tr>
        <td>100 MB - TBs per unique file; 1GB - TBs per shared file</td>
        <td>4 GB - TBs per job</td>
         <td><code>/staging</code></td>
        <td><b>executable</b>; copy or move using <code>cp</code>, <code>mv</code></td>
        <td><a href="file-avail-largedata.html">Large Input and Output File Availability Via Staging</a></td>
        <td>a portion of CHTC, accessible ONLY to your jobs on these servers</td>
        <!--<td>special submit "Requirements"</td>-->
    </tr>

</table>

<!--
<h2>Best Practices for File Delivery</h2>

<p>Remember to review best practices in our File Handling guide,
including the following:</p>

<ul>
<li>Pre-split large input files when each of many jobs will only need a portion of the
large input data.</li>
<li>Remove ALL unwanted/temporary files in the working director of the job that have
appeared since the job started.</li>
<li>Use tar with compression (*.tar.gz) for any relevant input/output files and ALL
desired output directories prior to their transfer/delivery.</li>
</ul>
-->

{{ content }}


