---
layout: blank
---

<meta http-equiv="refresh" content="1; url={{ page.redirect_url }}" />
<script>
    window.location.href = '{{ page.redirect_url }}';
</script>
<div style="display:flex; height:100vh;">
    <div style="margin:auto;">
        <div>
            <a href="{{ page.redirect_url }}"><img style="width: 100%;" alt="OSG Logo" src="{{ '/assets/images/logos/OSG-logo.svg' | relative_url }}"></a>
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <a href="{{ page.redirect_url }}">Click Here to be Redirected to Office Hours!</a>
        </div>
    </div>
</div>