<button id="{{ include.nav_id }}-button" class="uw-mobile-menu-button-bar uw-mobile-menu-button-bar-reversed uw-is-closed" data-menu="{{ include.nav_id }}" aria-label="Open menu" aria-expanded="true" aria-controls="{{ include.nav_id }}">{{ include.menu_name | default: "Menu" }}<svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-menu"></use></svg><svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-close"></use></svg></button>
<div id="{{ include.nav_id }}" class="uw-is-visible uw-horizontal" aria-hidden="false">
    <div class="uw-main-nav">
        <nav class="uw-nav-menu uw-nav-menu-reverse" aria-label="Main Menu">
            <ul id="{{ include.ul_id }}">
                {% for nav_item in nav_items %}
                    {% include navbar/nav-item.html%}
                {% endfor %}
                <li class="uw-dropdown my-auto ml-auto mr-0 pr-0">
                    <div id="main-search-bar" class="search-bar">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Loading..." aria-describedby="button-addon2">
                            <button class="btn btn-outline-primary" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="results-dropdown" class="results-dropdown w-100">
                            <div class="search-results" ></div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>