{% include logic/is_in_uw_dir.html %}
{% if is_in_uw_dir %}

    <div class="alert alert-warning text-center mb-0 rounded-0" role="alert">
        <b>HTC users</b>: From May 15 - August 1, we are transitioning users' personal /staging directories. See how you're affected and what you should do on <a href="/uw-research-computing/staging-transition">staging transition page</a>.
    </div>

    {% assign nav_items = site.data.uw-research-computing-menu.nav_items %}
    {% include navbar/navbar.html ul_id="uw-main-nav" nav_id="uw-top-menus"  menu_name="UW-Research Computing" %}

{% endif %}